<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 14px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;}
		.dayin td{border:1px solid black;padding:8px 0;}
		.center{text-align: center;}
	</style>
	
</head>

<body>
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td class="center" colspan="2"><span style="font-size:16px;font-weight:bold;">审批表</span></td>
				</tr>				
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr class="center">
					<td><b>所属机构</b></td>
					<td>上海农商</td>	
					<td><b>所属机构</b></td>
					<td>上海农商</td>	
					<td><b>申请条形码</b></td>
					<td colspan="3">12304506500000</td>
				</tr>
				<tr class="center">
					<td><b>中文姓名</b></td>
					<td>公二</td>	
					<td><b>证件类型</b></td>
					<td>身份证（18位）</td>	
					<td><b>证件号码</b></td>
					<td colspan="3">320404198803563145</td>
				</tr>
				<tr class="center">
					<td colspan="8"><b>基本信息</b></td>
				</tr>
				<tr class="center">
					<td><b>性别</b></td>
					<td>男</td>	
					<td><b>出生日期</b></td>
					<td>1985-06-15</td>	
					<td><b>婚姻状况</b></td>
					<td>未婚独身</td>
					<td><b>教育程度</b></td>
					<td>本科</td>
				</tr>
				<tr class="center">
					<td><b>住宅地址</b></td>
					<td colspan="3">常州市天宁区关河东路66号</td>	
					<td><b>住宅状况</b></td>
					<td colspan="3">父母自有房，与父母同住</td>	
				</tr>
				<tr class="center">
					<td><b>单位全称</b></td>
					<td>常州市九州环宇大酒店</td>	
					<td><b>单位性质</b></td>
					<td>02国有企业</td>	
					<td><b>单位职务</b></td>
					<td>职务说明</td>	
					<td colspan="2"></td>	
				</tr>
				<tr class="center">
					<td><b>职称</b></td>
					<td> </td>	
					<td><b>年收入（万元）</b></td>
					<td>0.0</td>	
					<td><b>现单位工龄</b></td>
					<td>1</td>	
					<td><b>单位规模</b></td>
					<td></td>	
				</tr>
				<tr class="center">
					<td colspan="8"><b>是否担保办卡</b></td>
				</tr>
				<tr class="center">
					<td><b>担保合同编号</b></td>
					<td colspan="3">常州市天宁区关河东路66号</td>	
					<td><b>担保金额</b></td>
					<td></td>	
					<td><b>类型</b></td>
					<td></td>
				</tr>
				<tr class="center">
					<td><b>担保人姓名</b></td>
					<td></td>	
					<td><b>证件类型</b></td>
					<td></td>
					<td><b>证件号码</b></td>
					<td colspan="3"></td>	
				</tr>
				<tr class="center">
					<td colspan="8"><b>抽检意见</b></td>
				</tr>
				<tr class="center">
					<td colspan="8">附卡额度百分比输出有误</td>
				</tr>
				<tr class="center">
					<td><b>申请产品类型</b></td>
					<td>024淘宝联名卡</td>	
					<td><b>建议结果<br/>（原因码）</b></td>
					<td></td>
					<td><b>主卡额度<br/>（万元）</b></td>
					<td></td>	
					<td><b>当前处理人员</b></td>
					<td>倪文彬<br/>2014-04-26<br/>13:00:00</td>
				</tr>
				<tr>					
					<td colspan="8" style="text-align:right;border:none;">V1.1-SP-20131222</td>
				</tr>
			</table>
		</div>	
	</div>

	
</body>
</html>
