<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
</head>

<body onload="">	
	<form class="content">														
		<input type='button' class='btn btn-info btn-mini pull-right' value='关闭' onclick="$('#text',window.parent.document).hide();"/><br/>
		<i class='icon-bookmark'></i><span class='titletip'>黑名单信息管理</span>
		<div class='divBorder'>
			<table class='table-list'>	
				<tr>
					<td class="table-label">银行编号<font class="red">*</font></td>
					<td colspan="3"><input type="text" name="" value="0001"></td>														
				</tr>
				<tr>
					<td class="table-label">风险案件编号</td>
					<td><input type="text" name="" value=""></td>
					<td class="table-label">申请书条形码</td>
					<td><input type="text" name="" value=""></td>					
				</tr>
				<tr>
					<td class="table-label">主附卡标识</td>
					<td>
						<select name="">
							<option></option>
						</select>
					</td>
					<td class="table-label">姓名</td>
					<td><input type="text" name="" value="周丽"></td>					
				</tr>
				<tr>
					<td class="table-label">英文姓名/拼音</td>
					<td><input type="text" name="" value=""></td>
					<td class="table-label">证件类型</td>
					<td>
						<select name="">
							<option>身份证</option>
							<option>警官证</option>
						</select>
					</td>					
				</tr>
				<tr>
					<td class="table-label">证件号码</td>
					<td><input type="text" name="" value="320404195602246305"></td>
					<td class="table-label">出生日期</td>
					<td><input type="text" name="" class="datepicker short" data-date-format="yyyy-mm-dd" readonly/></td>					
				</tr>
				<tr>
					<td class="table-label">案件类型</td>
					<td>
						<select name="">
							<option></option>
						</select>
					</td>
					<td class="table-label">决绝原因代码1</td>
					<td><input type="text" name="" value=""></td>			
				</tr>
				<tr>
					<td class="table-label">决绝原因代码2</td>
					<td><input type="text" name="" value=""></td>	
					<td class="table-label">决绝原因代码3</td>
					<td><input type="text" name="" value=""></td>			
				</tr>
				<tr>
					<td class="table-label">名单级别<font class="red">*</font></td>
					<td>
						<select name="">
							<option>黑名单</option>
						</select>
					</td>
					<td class="table-label">名单来源<font class="red">*</font></td>
					<td>
						<select name="">
							<option>手工录入</option>
						</select>
					</td>		
				</tr>
				<tr>
					<td class="table-label">建档原因</td>
					<td><input type="text" name="" value=""></td>	
					<td class="table-label">风控调查员编号</td>
					<td><input type="text" name="" value=""></td>			
				</tr>
				<tr>
					<td class="table-label">建档时间</td>
					<td><input type="text" name="" class="datepicker short" data-date-format="yyyy-mm-dd" readonly/></td>	
					<td class="table-label">建档人</td>
					<td><input type="text" name="" value="倪文彬"></td>			
				</tr>
				<tr>
					<td class="table-label">备注</td>
					<td colspan="3"><textarea style="width:80%"></textarea></td>
				</tr>	
			</table>
		</div>
		<input type="button" class="btn btn-info" value="提交"/>
	</form><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>	
    <script src="/static/js/Loan_Calculator.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
