<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
</head>

<body onload="">	
	<form class="content">														
		<i class='icon-bookmark'></i><span class='titletip'>黑名单列表</span>
		<div class='divBorder'>
			<table class='table-list'>				
				<tr>
					<th>名单编号</th>
					<th>银行编号</th>
					<th>风险案件编号</th>
					<th>申请书条形码</th>
					<th>主附卡标识</th>
					<th>姓名</th>
					<th>英文姓名/拼音</th>
					<th>证件类型</th>
					<th>证件号码</th>
					<th>出生日期</th>																		
					<th>案件类型</th>
					<th>名单级别</th>
					<th>名单来源</th>
					<th>风控调查员工号</th>
					<th>最近修改日期</th>																		
					<th>操作</th>
				</tr>
				<tr class='center'>
					<td><a href='#' onclick="iframe('Jinjian/edit_hmd')">0111</a></td>
					<td>0001</td>
					<td></td>
					<td></td>
					<td></td>
					<td>周丽</td>
					<td></td>																		
					<td></td>
					<td>245602654615</td>
					<td></td>																		
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>2014-05-06</td>	
					<td><input type='button' class='btn btn-danger btn-mini' value='删除'/></td>																	
				</tr>
				<tr class='center'>
					<td>0111</td>
					<td>0001</td>
					<td></td>
					<td></td>
					<td></td>
					<td>周丽</td>
					<td></td>																		
					<td></td>
					<td>245602654615</td>
					<td></td>																		
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>2014-05-06</td>	
					<td><input type='button' class='btn btn-danger btn-mini' value='删除'/></td>																	
				</tr>
				<tr class='center'>
					<td>0111</td>
					<td>0001</td>
					<td></td>
					<td></td>
					<td></td>
					<td>周丽</td>
					<td></td>																		
					<td></td>
					<td>245602654615</td>
					<td></td>																		
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>2014-05-06</td>	
					<td><input type='button' class='btn btn-danger btn-mini' value='删除'/></td>																	
				</tr>
				<tr class='center'>
					<td>0111</td>
					<td>0001</td>
					<td></td>
					<td></td>
					<td></td>
					<td>周丽</td>
					<td></td>																		
					<td></td>
					<td>245602654615</td>
					<td></td>																		
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>2014-05-06</td>	
					<td><input type='button' class='btn btn-danger btn-mini' value='删除'/></td>																	
				</tr>	
			</table>
		</div>
		<div class='page-div'>		
			<span style='CURSOR: pointer'>&lt;&lt;</span>
			&#160;第&#160;<font color='#0088cc'>1</font>&#160;页&#160;
			&#160;共&#160;<font color='#0088cc'>1</font>&#160;页&#160;
			<span style='CURSOR: pointer'>&gt;&gt;</span>
		</div>
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>	
    <script src="/static/js/Loan_Calculator.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
