<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
</head>

<body onload="">	
	<form class="content">														
		<i class='icon-bookmark'></i><span class='titletip'>历史申请件列表</span>
		<div class='divBorder'>
			<table class='table-list'>				
				<tr>
					<th>申请所属机构</th>
					<th>申请件条形码</th>
					<th>申请卡种</th>
					<th>申请人姓名</th>
					<th>申请人证件号码</th>
					<th>是否被拒绝</th>
					<th>当前状态</th>
					<th>当前处理人</th>
					<th>进件时间</th>
				</tr>
				<tr class='center'>
					<td>上海农商行</td>
					<td>113462A154002</td>
					<td>012银联个人普卡</td>
					<td>黄袁</td>
					<td>32040419580225304X</td>
					<td>否</td>
					<td>正常结束</td>																		
					<td></td>
					<td>2013-03-06</td>																	
				</tr>
				<tr class='center'>
					<td>上海农商行</td>
					<td>113462A154545</td>
					<td>015青联卡</td>
					<td>黄袁</td>
					<td>32040419580225304X</td>
					<td>否</td>
					<td>一级审批</td>																		
					<td></td>
					<td>2013-02-06</td>																	
				</tr>
			</table>
		</div>
		<div class='page-div'>		
			<span style='CURSOR: pointer'>&lt;&lt;</span>
			&#160;第&#160;<font color='#0088cc'>1</font>&#160;页&#160;
			&#160;共&#160;<font color='#0088cc'>1</font>&#160;页&#160;
			<span style='CURSOR: pointer'>&gt;&gt;</span>
		</div>
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>	
    <script src="/static/js/Loan_Calculator.js"></script>
	<script type="text/javascript">
	</script>
</body>
</html>
