<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
		
</head>

<body onload="datepicker();sum()">	
	<form class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">进件管理</a>/<a href="#">信用卡客户资料</a>		
		</div>	
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">基本资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">业务类型</td>
						<td colspan="5">
							<select name="">
								<option>信用卡</option>
							</select>
						</td>
					</tr>
					<tr>						
						<td class="table-label">中文姓名</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">国籍</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">性别</td>
						<td>
							<label><input type="radio" name="sex" checked/>男</label>
							<label><input type="radio" name="sex"/>女</label>
						</td>
					</tr>
					<tr>
						<td class="table-label">拼音或英文姓名</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">出生日期</td>
						<td>
							<input type="text" name="beg_date" class="datepicker" data-date-format="yyyy-mm-dd" readonly/>
						</td>							
						<td class="table-label">身份证件</td>
						<td>
							<select name="">
								<option>居民身份证</option>
								<option>护照</option>
								<option>港澳居民往来内地通行证、台胞证</option>
								<option>其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="table-label">证件号码</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">住宅地址</td>
						<td><input type="text" name=""/></td>					
						<td class="table-label">邮政编码</td>
						<td><input type="text" name=""/></td>			
					</tr>
					<tr>
						<td class="table-label">住宅电话</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">手机</td>
						<td><input type="text" name=""/></td>					
						<td class="table-label">E-mail</td>
						<td><input type="text" name=""/></td>			
					</tr>
					<tr>
						<td class="table-label">住宅性质</td>
						<td>
							<select name="">
								<option>自购无贷款</option>
								<option>自购有贷款</option>
								<option>与父母同住</option>
								<option>租用</option>
								<option>单位分配</option>
								<option>其他</option>
							</select>
						</td>
						<td class="table-label">婚姻状况</td>
						<td>
							<select name="">
								<option>未婚</option>
								<option>已婚有子女</option>
								<option>已婚无子女</option>
								<option>其他</option>
							</select>
						</td>					
						<td class="table-label">教育程度</td>
						<td>
							<select name="">
								<option>初中以下</option>
								<option>高中/中专</option>
								<option>大专</option>
								<option>本科</option>
								<option>硕士</option>
								<option>博士</option>
							</select>
						</td>		
					</tr>
					<tr>
						<td class="table-label">户籍地址</td>
						<td colspan="5">
							<label><input type="radio" name=""/>同住宅地址</label>
							<label><input type="radio" name=""/>其他</label>
							<input type="text" name="" style="width:280px"/>
							邮政编码<input type="text" name=""/>
						</td>		
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">职业资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">单位名称</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">部门名称</td>
						<td><input type="text" name=""/></td>
					</tr>
					<tr>
						<td class="table-label">单位地址</td>
						<td>
							<input type="text" name="" style="width:280px"/>
							邮政编码<input type="text" name=""/>
						</td>
						<td class="table-label">单位电话</td>
						<td><input type="text" name=""/></td>
					</tr>
					<tr>
						<td class="table-label">单位性质</td>
						<td>
							<select name="" style="width:200px">
								<option>机关、事业单位、社会团体</option>
								<option>国有企业</option>
								<option>上市公司</option>
								<option>民营企业</option>
								<option>三资企业</option>
								<option>私营企业</option>								
								<option>其他</option>
							</select>
						</td>
						<td class="table-label">行业类型</td>
						<td>
							<select name="" style="width:200px">
								<option>公共管理与社会组织</option>
								<option>科研文化卫生教育</option>
								<option>金融电力电信</option>
								<option>体育娱乐</option>
								<option>邮政交通运输公用</option>
								<option>计算机服务与软件业</option>								
								<option>工业商业服务业贸易</option>							
								<option>其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="table-label">职务</td>
						<td>
							<select name="" onchange="setZw()" id="lx">
								<option value="公务员类">公务员类</option>
								<option value="非公务员类">非公务员类</option>
							</select>
							<select name="" id="zw" style="width:200px">
								<option>厅局级以上</option>
								<option>处级</option>
								<option>科级</option>
								<option>一般干部</option>
								<option>其他</option>
							</select>
						</td>
						<td class="table-label">职称</td>
						<td>
							<select name="">
								<option>高级</option>
								<option>中级</option>
								<option>处级</option>
								<option>其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="table-label">年收入（税前）</td>
						<td><input type="text" name=""/>万元</td>
						<td class="table-label">现工作单位年限</td>
						<td><input type="text" name=""/>年</td>
					</tr>
					<tr>
						<td class="table-label">前单位名称</td>
						<td><input type="text" name=""/></td>
						<td class="table-label">前工作单位年限</td>
						<td><input type="text" name=""/>年</td>
					</tr>
					<tr>
						<td class="table-label">参加工作时间</td>
						<td colspan="3"><input type="text" name=""/></td>
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">其他资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">账单寄送方式</td>
						<td>
							<label><input type="radio" name="radio1" checked/>纸质账单</label>
							<label><input type="radio" name="radio1"/>电子账单</label>
						</td>
						<td class="table-label">纸质账单/寄送地址</td>
						<td>
							<label><input type="radio" name="radio2" checked/>住宅地址</label>
							<label><input type="radio" name="radio2"/>单位地址</label>
							<label><input type="radio" name="radio2"/>户籍地址</label>
						</td>
					</tr>
					<tr>
						<td class="table-label">领卡方式</td>
						<td>
							<label><input type="radio" name="radio3" checked/>到网点领取</label>
							<label><input type="radio" name="radio3"/>普通邮寄</label>
							<label><input type="radio" name="radio3"/>快递</label>
						</td>
						<td class="table-label">境内消费是否使用密码</td>
						<td>
							<label><input type="radio" name="radio4" checked/>使用密码</label>
							<label><input type="radio" name="radio4"/>不使用密码</label>
						</td>
					</tr>
					<tr>
						<td class="table-label">交易短信开通</td>
						<td colspan="3">
							<label><input type="radio" name="radio5" checked/>开通</label>
							<label><input type="radio" name="radio5"/>不开通</label>
							（附卡是否开通
							<label><input type="radio" name="radio6" checked/>开通</label>
							<label><input type="radio" name="radio6"/>不开通</label>）
						</td>
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">账户资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">在我行开立账户情况</td>
						<td>
							<select name="">
								<option>个人贷款户</option>
								<option>对公客户</option>
								<option>大额储蓄客户（10万以上）</option>
								<option>无</option>
							</select>
						</td>
						<td class="table-label">持信用卡情况</td>
						<td>
							<select name="">
								<option>无信用卡</option>
								<option>持有我行信用卡</option>
								<option>持有他行信用卡</option>
							</select>
							持有<input type="text" style="width:50px"/>张信用卡，现有信用卡最高额度<input type="text" style="width:50px"/>元
						</td>
					</tr>
					<tr>
						<td class="table-label">在我行代发工资情况</td>
						<td colspan="3">
							<label><input type="radio" name="radio7" checked/>代发工资</label>
							<label><input type="radio" name="radio7"/>不代发工资</label>
						</td>
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">联系人资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">联系人姓名</td>
						<td>
							<input type="text"/>
							性别
							<label><input type="radio" name="radio8" checked/>男</label>
							<label><input type="radio" name="radio8"/>女</label>
						</td>
						<td class="table-label">与申请人关系</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">单位名称</td>
						<td><input type="text"/></td>
						<td class="table-label">部门</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">联系电话</td>
						<td><input type="text"/></td>
						<td class="table-label">手机</td>
						<td><input type="text"/></td>
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">担保人资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">保证人/抵押人/质押人姓名1</td>
						<td>
							<input type="text"/>
							性别
							<label><input type="radio" name="radio8" checked/>男</label>
							<label><input type="radio" name="radio8"/>女</label>
						</td>
						<td class="table-label">与申请人关系</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">单位名称</td>
						<td><input type="text"/></td>
						<td class="table-label">部门</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">联系电话</td>
						<td><input type="text"/></td>
						<td class="table-label">手机</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">证件号码</td>
						<td colspan="3"><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">保证人/抵押人/质押人姓名2</td>
						<td>
							<input type="text"/>
							性别
							<label><input type="radio" name="radio8" checked/>男</label>
							<label><input type="radio" name="radio8"/>女</label>
						</td>
						<td class="table-label">与申请人关系</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">单位名称</td>
						<td><input type="text"/></td>
						<td class="table-label">部门</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">联系电话</td>
						<td><input type="text"/></td>
						<td class="table-label">手机</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">证件号码</td>
						<td colspan="3"><input type="text"/></td>
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">申请额度</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">申请信用额度</td>
						<td>人民币<input type="text"/>元</td>
					</tr>
				</table>
			</div>
			<i class="icon-bookmark"></i><span class="titletip">约定账户还款授权</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">扣款方式</td>
						<td>
							<label><input type="radio" name="radio9" checked/>最低还款额</label>
							<label><input type="radio" name="radio9"/>全额还款额</label>
						</td>
						<td class="table-label">还款借记卡卡号</td>
						<td><input type="text"/></td>
					</tr>
				</table>
			</div>	
			<i class="icon-bookmark"></i><span class="titletip">推荐人资料</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">姓名</td>
						<td><input type="text"/></td>
						<td class="table-label">网点</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td class="table-label">联系电话</td>
						<td><input type="text"/></td>
						<td class="table-label">推荐人身份证号码</td>
						<td><input type="text"/></td>
					</tr>
				</table>
			</div>		
			<i class="icon-bookmark"></i><span class="titletip">行/社专栏</span>
			<div class="divBorder">				
				<table class="table-list">
					<tr>
						<td class="table-label">推广方式</td>
						<td>
							<select name="">
								<option>亲签亲访</option>
								<option>亲签未亲访</option>
								<option>未亲签未亲访</option>
							</select>
						</td>
						<td class="table-label">进件来源</td>
						<td>
							<select name="">
								<option>我社客户</option>
								<option>陌生拜访</option>
								<option>他人转介</option>
								<option>设点营销</option>
								<option>电话营销</option>
								<option>信函营销</option>
								<option>自进件</option>
								<option>其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="table-label">与申请人关系</td>
						<td>
							<select name="">
								<option>亲戚</option>
								<option>朋友</option>
								<option>同学</option>
								<option>客户</option>
								<option>其他</option>
							</select>
						</td>
						<td class="table-label">其他说明</td>
						<td><input type="text"/></td>
					</tr>
				</table>
			</div>					
			<input type="button" class="btn btn-info" value="提交"/>
		</div><!--/row-fluid -->
	</form><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		function setZw(){
			var value=$("#lx option:selected").val();
			if(value=='公务员类'){
				$("#zw").html("<option>厅局级以上</option>"+
								"<option>处级</option>"+
								"<option>科级</option>"+
								"<option>一般干部</option>"+
								"<option>其他</option>"
							)
			}
			if(value=='非公务员类'){
				$("#zw").html("<option>总经理或企业负责人</option>"+
								"<option>部门经理/中层管理人员</option>"+
								"<option>一般管理人员</option>"+
								"<option>员工</option>"+
								"<option>其他</option>"
							)
			}
		}
	</script>
</body>
</html>
