<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
</head>

<body onload="">	
	<form class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">系统管理</a>/<a href="#">处理要素评分卡管理</a>
		</div>	
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">评分卡列表</span>
			<div style="margin-bottom:5px;">
				<a type="button" class="btn btn-info" href="#" onclick="iframe('Score/new_clyspfkgl')">新增</a>	
			</div>
			<div class="divBorder">				
				<table class="table-list" cellspacing="10" id="uesr-list">
					<thead>
						<tr>									
							<th>评分卡编号</th>
							<th>评分卡说明</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="center">						
						<tr onclick="changeColor(this)">						
							<td><a href="#" onclick="iframe('Score/edit_clyspfkgl')">001</a></td>	
							<td>厦门灵活金</td>
							<td><input type="button" onclick=" " class="btn btn-danger btn-mini" value="删除"/>	</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-div">				
				<span style="CURSOR: pointer">&lt;&lt;</span>
				&#160;第&#160;<font color="#0088cc">1</font>&#160;页&#160;
				&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
				<span style="CURSOR: pointer">&gt;&gt;</span>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>	
    <script src="/static/js/Loan_Calculator.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("loan_account", "none", {validateOn:["blur"]});
		var sprytextfield2 = new Spry.Widget.ValidationTextField("loan_contract_number", "none", {validateOn:["blur"]});
		//var sprytextfield3 = new Spry.Widget.ValidationTextField("loan_period", "none", {validateOn:["blur"]});
		var sprytextfield4 = new Spry.Widget.ValidationTextField("annual_interest_rate", "none", {validateOn:["blur"]});
		function sum(num){
			var sum=0;
			var value;
			$(".tbblur"+num).each(function(){
				if(this.value=="")
					value=0;
				else
					value=parseFloat(this.value);
				sum+=value;
			})
			sum=Math.round(sum*100)/100;//取小数点后两位
			$("#sum"+num).text(sum);
		}
	</script>
</body>
</html>
